PORT="1323"
LOG_LEVEL="debug"
AUTH_TOKEN="aa111111"
REDIS_URL="redis://@localhost:6379/0"
MYSQL_DSN="mini:mini@tcp(localhost:3306)/mini?charset=utf8mb4&parseTime=True&loc=Local"
JWT_SECRET="kdG8ohxSu51m3gVc"
INIT_DATA=false
DEFAULT_DEV_PASSWORD="Aa111111!"
